In [2]:
pip install pyspark

Requirement already satisfied: pyspark in c:\users\muhammed\anaconda3\lib\site-packages (3.5.4)
Requirement already satisfied: py4j==0.10.9.7 in c:\users\muhammed\anaconda3\lib\site-packages (from pyspark) (0.10.9.7)
Note: you may need to restart the kernel to use updated packages.

In [3]:
import pyspark

In [32]:
import pandas as pd
pd.read_csv('test1.csv')

         Name  Age
0     Muhamed   25
1       Ahmed   30
2  Abdul-aziz   50

In [8]:
from pyspark.sql import SparkSession

In [9]:
spark=SparkSession.builder.appName('practise').getOrCreate()

In [10]:
spark

In [12]:
df_pyspark = spark.read.csv('test1.csv')

In [15]:
df_pyspark.show() #Here show the dataset without the header names

+----------+---+
|       _c0|_c1|
+----------+---+
|      Name|Age|
|   Muhamed| 25|
|     Ahmed| 30|
|Abdul-aziz| 50|
+----------+---+

In [34]:
type(pd.read_csv('test1.csv'))

pandas.core.frame.DataFrame

In [28]:
(type(df_pyspark))

pyspark.sql.dataframe.DataFrame

In [20]:
df_pyspark.printSchema() #If i want to show more information regarding to columns its like" df_pyspark.information() in pandas"

root
 |-- _c0: string (nullable = true)
 |-- _c1: string (nullable = true)

In [29]:
spark.read.option('header','true').csv('test1.csv').show() #But here show the dataset with the header names

+----------+---+
|      Name|Age|
+----------+---+
|   Muhamed| 25|
|     Ahmed| 30|
|Abdul-aziz| 50|
+----------+---+

In [38]:
df_pyspark.head(3) #show the rows

[Row(Name='Muhamed', Age='25'),
 Row(Name='Ahmed', Age='30'),
 Row(Name='Abdul-aziz', Age='50')]