# PySpark Dataframes
1. Filter Operation
2. & , | , ==
3. ~

In [1]:
from pyspark.sql import SparkSession

In [3]:
spark = SparkSession.builder.appName('dataframe').getOrCreate()

In [5]:
df_pyspark = spark.read.csv('test1.csv', header='True', inferSchema='True')
df_pyspark.show()

+---------+---+----------+------+
|     Name|Age|Experience|Salary|
+---------+---+----------+------+
| muhammed| 25|         2|  5000|
|    Ahmed| 32|         6|  7000|
|Abdulaziz| 53|        25| 40000|
|   Sherif| 44|        14| 30000|
|  hussien| 46|        12| 25000|
|      Ali| 29|         6| 11000|
+---------+---+----------+------+

# 1. Filter Operation

In [11]:
#show me the pepole his salaries > 25000, Only the name and age columns
df_pyspark.filter('salary>=25000').select('name','age').show()

+---------+---+
|     name|age|
+---------+---+
|Abdulaziz| 53|
|   Sherif| 44|
|  hussien| 46|
+---------+---+

In [15]:
#the same of the above
df_pyspark.filter(df_pyspark['salary']>=25000).select('name','salary').show()

+---------+------+
|     name|salary|
+---------+------+
|Abdulaziz| 40000|
|   Sherif| 30000|
|  hussien| 25000|
+---------+------+

# 2. & , | , ==

In [20]:
df_pyspark.filter((df_pyspark['salary']>=25000) & (df_pyspark['salary']<40000)).select('name','salary','experience').show()

+-------+------+----------+
|   name|salary|experience|
+-------+------+----------+
| Sherif| 30000|        14|
|hussien| 25000|        12|
+-------+------+----------+

In [21]:
#here give me all the dataset because the the second condition 
df_pyspark.filter((df_pyspark['salary']>=25000) | (df_pyspark['salary']<40000)).select('name','salary','experience').show()

+---------+------+----------+
|     name|salary|experience|
+---------+------+----------+
| muhammed|  5000|         2|
|    Ahmed|  7000|         6|
|Abdulaziz| 40000|        25|
|   Sherif| 30000|        14|
|  hussien| 25000|        12|
|      Ali| 11000|         6|
+---------+------+----------+

# 3. ~

In [22]:
# ~ => not
df_pyspark.filter(~(df_pyspark['salary']>=25000)).select('name','salary', 'experience').show()

+--------+------+----------+
|    name|salary|experience|
+--------+------+----------+
|muhammed|  5000|         2|
|   Ahmed|  7000|         6|
|     Ali| 11000|         6|
+--------+------+----------+