In [1]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('agg').getOrCreate()
spark

In [2]:
df_pyspark = spark.read.csv('test3.csv', header='true', inferSchema='true')

In [3]:
df_pyspark.show()

+--------+-------------+------+
|    Name|   Department|Salary|
+--------+-------------+------+
|muhammed| Data Science| 10000|
|   Ahmed|          IOT|  5000|
|muhammed|     Big Data|  4000|
|  Sherif|     Big Data|  4000|
|muhammed| Data Science|  3000|
|muhammed| Data Science| 20000|
|    Adam|          IOT| 10000|
|    Adam|     Big Data|  6000|
|  Sherif| Data Science| 10000|
|    Adam|     Big Data|  6000|
+--------+-------------+------+

In [4]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Department: string (nullable = true)
 |-- Salary: integer (nullable = true)

## Grouped by Name
### Grouped to find the maximum Name salary

In [ ]:
df_pyspark.groupBy('name').sum().show()

## Grouped by Department

In [9]:
### Grouped to find the maximum Department salary 
df_pyspark.groupBy('Department').sum().show()

+-------------+-----------+
|   Department|sum(Salary)|
+-------------+-----------+
|          IOT|      15000|
| Data Science|      43000|
|     Big Data|      20000|
+-------------+-----------+

In [10]:
### Grouped to find the mean Department salary 
df_pyspark.groupBy('Department').mean().show()

+-------------+-----------+
|   Department|avg(Salary)|
+-------------+-----------+
|          IOT|     7500.0|
| Data Science|    10750.0|
|     Big Data|     5000.0|
+-------------+-----------+

In [12]:
### Grouped to find how many employee work in the Department  
df_pyspark.groupBy('Department').count().show()

+-------------+-----+
|   Department|count|
+-------------+-----+
|          IOT|    2|
| Data Science|    4|
|     Big Data|    4|
+-------------+-----+

# Aggregate on the entire `DataFrame` without groups

In [14]:
df_pyspark.agg({'salary':'sum'}).show()

+-----------+
|sum(salary)|
+-----------+
|      78000|
+-----------+

In [17]:
df_pyspark.agg({'Department':'count'}).show()

+-----------------+
|count(Department)|
+-----------------+
|               10|
+-----------------+

In [18]:
df_pyspark.agg({'salary':'mean'}).show()

+-----------+
|avg(salary)|
+-----------+
|     7800.0|
+-----------+